body {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#error {
  background-color: rgb(208, 23, 23);
}

#success {
  background-color: limegreen;
}

div {
  width: 45vw;
  max-width: 300px;
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: inset;
  box-shadow: 5px 10px 8px #888888;
}

p {
  font-size: 1000%;
  text-align: center;
  margin: 0;
}

button {
  width: 150px;
  height: 75px;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 150%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
  border: 5px solid black;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#retry {
  background-color: rgb(139, 29, 29);
}

#home {
  background-color: green;
}

@media only screen and (max-width: 500px) {
  body {
    flex-direction: column;
  }

  div {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  p {
    font-size: 600%;
  }
}
